.canvas{
    color: blue;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000, #333);
    display: flex;
    flex-direction: row;

}
.chaoscanva{
    width: 1200px;
    height: 600px;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    
}
#canvasexp{
    background-image: url("rotate.gif");
    background-size: cover;
}

.picker{
    width: 400px;
    height: 600px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.image_icon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#nuke{
    border: 3px solid red;
}

#nuke:hover{
    transform: scale(1.1);
}

#tnt{
    border: 3px solid green;
}
#tnt:hover{
    transform: scale(1.1);
}

#granade{
    border: 3px solid blue;
}
#granade:hover{
    transform: scale(1.1);
}